### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Maven ###
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.next
**/pom.xml.sonar
**/pom.xml.versionsBackup
**/release.properties
**/.mvn/

### OS ###
.DS_Store
Thumbs.db